.thumbnail {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.input__detail {
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(118, 118, 118);
    display: flex;
    flex-direction: column;
    gap: 12px;
    .props {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .field {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
    }
}
.input__text {
    padding: 10px;
}
.input__number {
    padding: 10px;
}
.input__select__array {
    & .RaSelectArrayInput-chip {
        padding: 20px;
    }
}
.input__boolean .MuiFormHelperText-root {
    display: none;
}
.input__image {
    width: 160px;
    height: 160px;
    position: relative;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    border-radius: 4px;
    background-color: #e8e8e8;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        .layout {
            display: block;
        }
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .img {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .layout {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        display: none;
    }
    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
}
.remove {
    padding: 4px 16px;
    background-color: #1976d2;
    border-radius:4px;
    color: white;
}
